.Cryptocurrency {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.coin {
    background-color: #c5d5ea;
    border: 2px solid #7392b7;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0.5rem;
    width: 250px;
    height: 320px;
    overflow: hidden;
}

img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px 2px #7392b7;
}


.name {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    color: #ff4365;
}

.current-price {
    font-size: 18px;
    color: #2d3047;
}

.coin24hlow {
    color: #9c0d38;
}

.coin24hhigh {
    color: #0a8754;
}


.information {
    position: absolute;
    bottom: 0;
}